.fa-shopping-cart {
  position: relative;
}

.fa-shopping-cart span {
  position: absolute;
  background: yellow;
  width: 10px;
  font-size: 10px;
  color: #000;
  text-align: center;
  border-radius: 5px;
  top: -4px;
  right: -5px;
  z-index: 2;
}

.c-pointer {
  cursor: pointer;
}